* { 
    box-sizing: border-box;
}

body {
    background: rgb(249, 249, 249);
}

.left-padding {
    padding-left: 15px;
}

.right-padding {
    padding-right: 15px;
}
.navbar {
    padding: 15px 10px;
    background: white !important;
    border: none;
    border-radius: 0;
}

.whole-body-content {
    display: flex;
    
}
.page-layout {
    display: flex;
    flex-direction: column;
     
}

.btn-ppty {
    background: transparent;
    border: none;
    color: black
}

.btn-outline-light {
    color: black;
    border-color: rgb(182, 177, 177);
}
.form-inline .form-control {
    width: 500px;
}

div .col-md-9 .nav-item i {
    color: grey;
    font-size: 20px;
}

.col-md-4 {
    align-items: center;
}

    /* SIDEBAR */

#sidebar {
    min-width: 200px;
    max-width: 200px;
    background: white;
    color: inherit;
    transition: all 0.3s;
}

#sidebar ul li a {
    text-align: left;
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    color: black;
}

#sidebar ul.components {
    padding: 20px 0;
}
   
#sidebar ul li a:hover {
    background: #f1f1f1;
}

#sidebar ul li a i {
    margin-right: 10px;
}
/* .wrapper #sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: red;
} */
.fa-fire {
    color: red;
}

/* active */
#sidebar.active {
    min-width: 100px;
    max-width: 100px;
    min-height: 100vh;
    text-align: center;
}

.video-page.active {
    display: none;
}


#sidebar.active .minibar-hide,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

.menu-search-box {
    padding-right: 200px;
    border-radius: 0;
}

form .btn {
    border-radius: 0;
    background-color: #f8f8f8
}
.icons {
    display: flex;
    direction: row;
}
.icon-label {
    display: flex;
    direction: row;
}
.dimension1 {
    margin-left: 50px;
}
.dimension2 {
    margin-left: 108px;
}
.dimension3 {
    margin-left: 111px;
}
.dimension4 {
    margin-left: 112px;
}
.images {
    margin-top: 20px;
}
#img {
    margin-right: 35px;
    margin-left: 35px;
    border-radius: 40px;
}

.card-columns {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    border: #f1f1f1 2px;
}

.card-columns .card {
    display: inline-block;
    width: 100%;
    border: none;
}
.card-img {
    width: 250px;
    height: 150px;
    border-radius: 0px;
    overflow: hidden;

}
.card-body {
    margin: -5px -115px; 
}
.card-text {
    float: left;
}






video {
    width: 900px;
}